.featuresContainer {
  flex: 1 1 0px;
  width: 0;
  background-color: var(--inputs);
  border-radius: 10px;
  padding: 44px 52px;
}

.featuresList {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.detailsTitle {
  border-bottom: 1px solid var(--gray-light);
  padding-bottom: 24px;
}

.detailsList {
  margin-top: 24px;
}

.detailItem {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}
.detailItem:not(:first-child) {
  margin-top: 16px;
}
