.button {
  padding: 16px 32px;
  border: 1px solid var(--gray-light);
  border-radius: 200px;
  color: var(--main);
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  cursor: pointer;
  width: fit-content;
}

.button:hover {
  border-color: var(--button-hover);
}

.accent {
  padding: 16px 56px;
  background-color: var(--button);
  border: 1px solid var(--button);
  color: var(--white);
}

.button.accent:hover {
  background-color: var(--button-hover);
}
