.switchHolder {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 24px;
}

.label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 112px;
  height: 96px;
  border-radius: 12px;
  border: 1px solid var(--gray-light);
  cursor: pointer;
}

.active {
  border: 1px solid var(--button);
}

.input {
  display: none;
}

.switchName {
  margin-top: 8px;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  text-align: center;
}
