nav {
  display: flex;
  gap: 32px;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

nav .link {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-decoration: none;
  color: var(--main);
}

nav .link.active {
  color: var(--button-hover);
}
