.title {
  color: var(--dark);
}

.imageGallery {
  display: flex;
  flex-wrap: nowrap;
  gap: 48px;
  margin-top: 28px;
}

.image {
  width: 292px;
  height: 312px;
  object-fit: cover;
  object-position: left;
  border-radius: 10px;
}

.description {
  color: var(--text);
  margin-top: 28px;
}

.aboutSection {
  margin-top: 56px;
  display: flex;
  gap: 40px;
}

.formContainer {
  flex: 1 1 0;
  width: 0;
  border: 1px solid var(--gray-light);
  border-radius: 10px;
  padding: 44px 52px;
}

.formSubtitle {
  color: var(--gray);
  margin-top: 8px;
}
